{
  "presets": ["./babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./components",
          "layouts": "./layouts"
        }
      }
    ]
  ]
}
