// Password
// --------
.c-password {
  justify-content: space-around;

  margin-top: vr(4);
  margin-bottom: vr(4);
}

.c-password__title {
  @include typi("t3");

  margin-bottom: vr(2);

  font-weight: $fw-bold;
  text-align: center;
}
