// Posts
// -----

.c-posts__title {
  @include t-uppercase;
  @include t-link;
  @include typi("s1");

  color: oc(primary);

  font-weight: $fw-bold;
}


// Posts
// -----
.c-post {
  margin-bottom: vr(1);
}

.c-post__title {
  @include typi("t1");

  margin-top: vr(.5);

  font-weight: $fw-bold;
}

.c-post__body {
  @include typi("s0");

  margin-top: vr(.25);
  margin-bottom: vr(.25);
}

.c-post__meta {
  @include typi("s1");

  color: var(--oc-gray-6);

  font-weight: $fw-light;
}
