// Blocks
// ------
.c-projects {
  margin-bottom: vr(2);

  img {
    background-color: var(--oc-gray-1);
  }
}


// Project
// -------
.c-project {
  margin-top: vr(2);
  margin-bottom: vr(3);
}

.c-project__header {
  @include typi("s1");
  @include t-uppercase;

  margin-top: vr(1);
  margin-bottom: vr(.5);

  color: var(--oc-gray-6);
}

.c-project__description,
.c-project__tags {
  @include typi("s0");

  font-weight: $fw-light;
}
