// Table
// -------

.c-pricing {
  margin-top: vr(2);
  margin-bottom: vr(2);

  thead,
  tbody,
  tr {
    display: block;

    width: 100%;
  }
}

.c-pricing__head {
  td {
    display: none;
  }

  th {
    display: inline-block;

    width: 33%;

    padding: vr(.5) 0;
  }

  th:nth-child(3) {
    background-color: rgba($oc-primary, .05);
    color: oc(primary, 6);
  }

  h2 {
    @include typi("t1");
  }

  h3 {
    margin-top: vr(.75);
    margin-bottom: vr(.75);

    color: var(--oc-gray-8);

    font-weight: $fw-bold;

    @include typi("t3");
  }

  h4 {
    color: var(--oc-gray-6);

    font-weight: $fw-light;

    @include typi("s1");
  }
}

.c-pricing__body {
  th {
    display: inline-block;

    width: 100%;

    padding: vr(.5) 0;

    color: var(--oc-gray-7);

    text-align: left;

    a:hover {
      cursor: help;
    }
  }

  td {
    display: inline-block;

    width: 33%;

    padding: vr(.5) 0;

    font-weight: $fw-bold;
    text-align: center;

    &:nth-child(3) {
      background-color: rgba($oc-primary, .05);
      color: oc(primary, 6);
    }
  }

  tr {
    border-top: 1px dashed var(--oc-gray-3);

    &:last-child {
      border-bottom: 1px dashed var(--oc-gray-3);
    }
  }
}

@include mappy-bp(medium) {
  .c-pricing__body {
    td,
    th {
      width: 25%;
    }
  }

  .c-pricing__head {
    td,
    th {
      display: inline-block;

      width: 25%;
    }
  }
}
