{#
 # The base layout template
 # ------------------------
-#}

{# -- DRY -- #}
{% set baseUrl = craft.app.config.getGeneral.baseUrl %}
{% set devMode = craft.app.config.getGeneral.devMode %}
{% set livePreview = craft.app.request.isLivePreview %}

{# -- COOKIES -- #}
{% set currentCache = getCookie('criticalCss') %}
{% set fontFaceObserver = getCookie("fontFaceObserver") %}
{% set darkMode = getCookie("darkMode") %}

<!doctype html>
<html amp lang="{{ craft.app.language }}" class="fonts-loaded{% if darkMode == 'true' %} theme-dark{% endif %}">
<head>


{% block head %}
  {% cache %}

  <meta charset="utf-8">
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  {# -- AMP DEFAULT -- #}
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

  {# -- AMP CUSTOM -- #}
  <style amp-custom>
    {{ source('_layouts/amp.min.css') }}
    {% block custom %}{% endblock %}
  </style>

  {# -- TITLE -- #}
  <title>{% if entry is defined %}{{ entry.title }} - {% endif %}{{ siteName | split('·') | first }}</title>

  {# -- SEOMATIC -- #}
  {% hook 'seomaticRender' %}

  {# -- ICONS -- #}
  {% include '_includes/icons' %}

  {# -- PRECONNECT -- #}
  {% for block in navigation.navigation %}
    {% if block.type == "navSingle" or block.type == "navSection" %}
      {% set navLink = block.navEntry.one().url %}
    {% elseif block.type == "navExternal" %}
      {% set navLink = block.navLink %}
    {% endif %}

    <link rel="preconnect" href="{{ navLink }}">
  {% endfor %}

  <link rel="canonical" href="{{ entry.url | replace('/amp', '') }}" />
  <link rel="home" href="{{ siteUrl }}" />
  <link rel="alternate" type="application/atom+xml" title="Atom" href="/feed.atom">

  {% endcache %}
{% endblock %}


</head>

{# -- BODY CLASS -- #}
<body id="js-headroom" class="{{ entry is defined ? entry.section.handle : craft.app.request.segments | first }} {{ bodyClass is defined ? bodyClass }}">

{% block body %}{% endblock %}

</body>
</html>
