{#
 # Entry template
 # -------------------
 #
 # See this entry for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}


{% extends "_layouts/site" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}


{% block head %}
  {{ parent() }}

  {{ entry.recipe.renderRecipeJSONLD() }}

  <link rel="amphtml" href="{{ entry.url }}/amp">
{% endblock %}


{% block critical %}
  <style>
    {{ source(_self ~ '.min.css', ignore_missing = true) }}
  </style>
  <link rel="preload" href="{{ baseUrl ~ rev('css/food.min.css') }}" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" type="text/css" href="{{ baseUrl ~ rev('css/food.min.css') }}"></noscript>
{% endblock %}


{% block noCritical %}
  <link id="styles" rel="stylesheet" type="text/css" href="{{ baseUrl ~ rev('css/food.min.css') }}">
{% endblock %}


{% block scripts %}
  {{ parent() }}

  {# -- REACT -- #}
  <script>
  loadjs(['{{ baseUrl ~ rev('js/single.min.js') }}'], 'react');
  </script>
{% endblock %}


{% block body %}

  {# -- METABAR -- #}
  {% include '_includes/components/metabar' with {'class': 'c-metabar--light'} %}

  {% cache %}
  {% minify %}
  <main class="l-recipe">

    <article>

        {# -- HEADER -- #}
        <header class="c-recipe__header">
          <figure class="c-recipe__image">
            <img class="o-image"
                 src="{{ entry.recipe.getImageUrl() }}"
                 alt="{{ entry.title }}" />
          </figure>
          <div class="c-recipe__bottom l-ctnr l-flex l-flex--center">
            <div class="l-w75">
              <h1 class="c-recipe__title">{{ helpers.striptags(entry.title) }}</h1>
              {{ elements.recipeMeta(entry) }}
            </div>
          </div>
        </header>

      <div class="l-ctnr l-flex l-flex--center">
        <div class="l-w75">

          {# -- DESCRIPTION -- #}
          <h3 class="c-recipe__description">{{ entry.recipe.description }}</h3>

          {# -- DIRECTIONS -- #}
          <ul class="c-recipe__directions">
            {% for direction in entry.recipe.getDirections() %}
              <li class="c-recipe__direction">{{ direction }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      {# -- REACT -- #}
      <div id="app"></div>
    </article>

    {# -- RELATED RECIPES -- #}
    {% set relatedRecipes = craft.entries({
    section: entry.section.handle,
    relatedTo: entry.labels,
    id: 'not ' ~ entry.id,
    limit: '3',
    }) %}

    {% if relatedRecipes | length == '3' %}
    <div class="l-ctnr cf">
      <div class="l-w100">
        <h4 class="c-cards__title">{{ "Related Recipes" | t}}</h4>
      </div>

      {% for item in relatedRecipes %}

        <a class="l-w33 fl-left" href="{{ item.url }}" title="{{ item.title }}">
          <article class="c-recipeCard">
            <figure class="c-recipe__image">
              <img class="o-image"
        					 src="{{ item.recipe.getImageUrl() }}"
        					 alt="{{ item.title }}" />
            </figure>
            <header class="c-recipeCard__content">
              <h3 class="c-recipeCard__title">{{ item.title }}</h3>
              {{ elements.recipeMeta(item) }}
            </header>
          </article>
        </a>

      {% endfor %}

    </div>
    {% endif %}

  </main>
  {% endminify %}
  {% endcache %}

  {# -- FOOTER -- #}
  {% include '_includes/components/footer' %}

{% endblock %}
