{#
 # Entry template
 # -------------------
 #
 # See this entry for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block main %}
  {% if currentUser or entry.passphrase == craft.app.request.getQueryParam('passphrase') or livePreview %}
    {% cache %}
    {% minify %}

    <article>

      {# -- HEADER -- #}
      <header>
        <div class="ctnr-s mv4">
          <div class="header w100 ta-center">
            <h1 class="header__title fs-t4">{{ entry.title | striptags() }}&nbsp;</h1>
            <ul class="header__meta mv2">

              {% for tag in entry.tags %}
                <li class="fs-s1 ts-subtle">#{{ tag.title | lower }}{% if not loop.last %}, {% endif %}</li>
              {% endfor %}

            </ul>
          </div>
        </div>
      </header>

      {# -- CONTENT -- #}
      <section class="ctnr-s mv5">
        <div class="w100 block-text">
          {{ entry.markdown }}
        </div>
      </section>
    </article>

    {# -- RELATED ENTRIES -- #}
    {% set relatedPosts = craft.entries({
      section: entry.section.handle,
      relatedTo: [entry.tags],
      id: 'not ' ~ entry.id,
      limit: '3',
    }) %}

    {% if relatedPosts | length == '3' %}
      <div class="ctnr-l mv4 cf">
        <div class="cf">
          <div class="w100 mt2">
            <h4 class="ts-app fs-s1 fs-t1">{{ "Related Posts" | t}}</h4>
          </div>

          {% for post in relatedPosts %}
            <article class="w1-3 fl-left mv3">

              <h3 class="mt2 fs-t1"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
              <ul class="mv2">

                {% for tag in entry.tags %}
                  <li class="fs-s1 ts-subtle">#{{ tag.title | lower }}{% if not loop.last %}, {% endif %}</li>
                {% endfor %}

              </ul>
            </article>
          {% endfor %}

        </div>
      </div>
    {% endif %}

    <script>
    loadjs(['{{ baseUrl ~ rev('js/photoswipe.min.js') }}'], 'photoswipe');
    loadjs.ready('photoswipe', {
      success: function() {
        initPhotoSwipeFromDOM('.js-photoswipe');
      }
    });
    </script>

    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

      <div class="pswp__bg"></div>

      <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
          PhotoSwipe keeps only 3 of them in the DOM to save memory.
          Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
      </div>
    </div>

    {% endminify %}
    {% endcache %}
  {% else %}
    {{ elements.passphrase(entry) }}
  {% endif %}
{% endblock %}
