// Food
// ----

@import "lib/helpers";
@import "variables/colors";
@import "variables/typography";
@import "variables/layout";
@import "variables/animations";

$oc-primary: #ee3a51;
$oc-secondary: #ff512f;

:root {
  #{--oc-primary-0}: scale-color($oc-primary, $lightness: 96%);
  #{--oc-primary-1}: scale-color($oc-primary, $lightness: 80%);
  #{--oc-primary-2}: scale-color($oc-primary, $lightness: 64%);
  #{--oc-primary-3}: scale-color($oc-primary, $lightness: 48%);
  #{--oc-primary-4}: scale-color($oc-primary, $lightness: 32%);
  #{--oc-primary-5}: scale-color($oc-primary, $lightness: 16%);
  #{--oc-primary-6}: $oc-primary;
  #{--oc-primary-7}: scale-color($oc-primary, $lightness: -15%);
  #{--oc-primary-8}: scale-color($oc-primary, $lightness: -30%);
  #{--oc-primary-9}: scale-color($oc-primary, $lightness: -45%);
}


// Filters
// -------
.c-input--search,
.c-input--time {
  margin-top: vr(.5);
  margin-right: vr(.75);
}

.c-input--search {
  width: 20rem;
}

.c-input--time {
  width: 7rem;
}

.c-input__text {
  font-size: 1rem;
  line-height: 1;
}

.c-filter {
  display: inline-block;
  position: relative;

  margin-top: vr(.5);
  margin-right: vr(.75);

  border: 1px solid var(--oc-gray-4);
  border-radius: 6px;

  background-color: var(--oc-white);

  box-shadow: 0 2px 4px rgba(0, 0, 0, .06);
  overflow: hidden;
}

.c-filter__option {
  display: inline-block;

  padding: vr(.6) vr(1);

  transition: background-color $an-short, color $an-short;

  border-right: 1px solid var(--oc-gray-4);

  color: var(--oc-gray-8);

  cursor: pointer;

  user-select: none;

  label:last-child & {
    border-right: 0;
  }

  [type=checkbox]:checked ~ &,
  &:hover,
  &:focus {
    background-color: var(--oc-primary-6);
    color: $oc-white;
  }
}


// Recipe Cards
// ------------

.c-recipeCard {
  display: inline-block;
  position: relative;

  width: 100%;
  height: vr(12);

  margin-top: vr(1);
  padding: vr(1);

  border-radius: 6px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, .06);
  overflow: hidden;

  &::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: 8px;

    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .33));

    content: "";
  }
}

.c-recipeCard__content {
  position: absolute;
  bottom: vr(1);

  z-index: 99;
}

.c-recipeCard__title {
  @include typi("t2");

  margin-bottom: vr(.25);

  transition: color $an-medium;

  color: $oc-white;

  font-weight: $fw-bold;
}


// Recipe Single
// -------------

.c-recipe__header {
  position: relative;

  width: 100%;
  height: vr(20);

  overflow: hidden;

  &::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: linear-gradient(180deg, rgba(0, 0, 0, .25), transparent 20%, rgba(0, 0, 0, .25));

    content: "";
  }
}

.c-recipe__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img {
    width: 100%;
    height: 100%;

    transition: transform $an-long;
    will-change: transform;

    object-fit: cover;
    backface-visibility: hidden;
  }

  a:hover &,
  a:focus & {
    img {
      transform: scale(1.04);
    }
  }
}

.c-recipe__bottom {
  position: relative;

  height: 100%;

  z-index: 99;

  > div {
    align-self: flex-end;

    padding-bottom: vr(1);
  }
}

.c-recipe__title {
  @include typi("t4");

  margin-bottom: vr(.5);

  color: $oc-white;

  font-weight: $fw-bold;
}

.c-recipe__meta {
  @include typi("s1");

  display: inline-block;

  margin-right: vr(.75);

  color: $oc-white;

  svg {
    width: vr(1);
    height: vr(1);

    margin-right: vr(.25);

    vertical-align: middle;

    fill: $oc-white;
  }

  span {
    vertical-align: middle;
  }
}

.c-recipe__description {
  @include typi("t1");

  margin-top: vr(2);
  margin-bottom: vr(2);

  font-weight: $fw-light;
  line-height: $lh-large;
}

.c-recipe__directions {
  margin-top: vr(2);
  margin-bottom: vr(2);
  padding-left: vr(2);

  counter-reset: descriptions;
}

.c-recipe__direction {
  @include typi("s0");

  position: relative;

  margin-top: vr(1);
  margin-bottom: vr(1);

  &::before {
    @include typi("t4");

    position: absolute;
    top: 0;
    left: vr(-2);

    font-weight: $fw-bold;

    content: counter(descriptions);

    counter-increment: descriptions;
  }
}


// Sidebar
// -------

.c-metabar,
.c-footer,
.l-recipe {
  @include mappy-bp(wide) {
    .sidebar--open & {
      width: calc(100vw - 20rem);
    }
  }

  width: 100vw;
}

.c-sidebar {
  @include mappy-bp(medium) {
    width: 20rem;

    transform: translateX(100%);

    opacity: 1;
    visibility: visible;

    .sidebar--open & {
      transform: translateX(0);

      box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    }
  }

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;

  width: 100vw;

  padding: vr(1) vr(1.5);

  transform: translateY(10%);

  transition: transform $an-short, visibility $an-short, opacity $an-short;

  background-color: var(--oc-white);

  opacity: 0;
  visibility: hidden;
  z-index: 9999;

  .sidebar--open & {
    transform: translateY(0);

    opacity: 1;
    visibility: visible;
  }
}

.c-sidebar__button {
  position: fixed;
  right: vr(1);
  bottom: vr(1);

  padding: vr(.75);

  transition: transform $an-medium, box-shadow $an-medium, background-color $an-medium;

  border: 0;
  border-radius: 100%;
  outline: none;

  background-color: var(--oc-primary-6);
  color: $oc-white;

  line-height: 1;

  box-shadow: 0 2px 4px rgba(0, 0, 0, .06);
  cursor: pointer;
  z-index: 99999;

  &:hover,
  &:focus {
    transform: translateY(.5px);

    background-color: var(--oc-primary-5);

    box-shadow: none;
  }

  svg {
    width: vr(1);
    height: vr(1);

    fill: $oc-white;
  }
}

.c-sidebar__content {
  position: absolute;
  bottom: vr(1);
  width: calc(100% - #{vr(3)});

  max-height: calc(100vh - #{vr(4)});

  overflow-y: scroll;
}

.c-sidebar__title {
  @include typi("t2");

  font-weight: $fw-bold;
}

.c-sidebar__serves {
  display: inline-block;
  width: 2.5rem;
}

.c-sidebar__stepper {
  @include typi("s1");

  display: inline-block;

  padding: vr(.2) vr(.4);

  transition: box-shadow $an-medium, background-color $an-medium, color $an-medium;

  border: 2px solid var(--oc-primary-6);
  outline: none;

  background-color: var(--oc-white);
  color: var(--oc-primary-6);

  font-weight: $fw-bold;
  line-height: 1;

  box-shadow: 0 2px 4px rgba(0, 0, 0, .06);
  cursor: pointer;

  &:nth-of-type(1) {
    border-right: 0;
    border-radius: 6px 0 0 6px;
  }

  &:nth-of-type(2) {
    border-radius: 0 6px 6px 0;
  }

  &:hover,
  &:focus {
    background-color: var(--oc-primary-6);
    color: $oc-white;

    box-shadow: none;
  }
}

.o-ingredient {
  margin-top: vr(.5);
  margin-bottom: vr(.5);
}

.o-ingredient__checkbox {
  display: none;
}

.o-ingredient__text {
  .o-ingredient__checkbox:checked + & {
    color: var(--oc-gray-6);

    text-decoration: line-through;
  }
}
