{#
 # Page template
 # -------------------
 #
 # See this entry for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block critical %}
  <style>
    {{ source(_self ~ '.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{% block main %}
  {% cache %}
  {% minify %}

  <article>

    {# -- HEADER -- #}
    <header>
      {% set image = entry.image.one() %}
      {% if image %}
      <div class="c-header__image js-photoswipe">
        <figure>
          <a href="{{ image.getUrl('large') }}" data-size="{{ image.getWidth('large') }}x{{ image.getHeight('large') }}">
            {{ elements.image(image, null, '16x9') }}
          </a>
        <figure>
      </div>
      {% endif %}

      <div class="l-ctnr l-flex l-flex--center">
        <div class="c-header l-w66">
          <h1 class="c-header__title c-header__title--color">{{ entry.title | striptags() }}&nbsp;</h1>
          <h2 class="c-header__subtitle">{{ entry.description | striptags() }}</h2>
        </div>
      </div>
    </header>

    {# -- CONTENT -- #}
    <div class="c-blocks">

      {# Body matrix #}
      {% include '_includes/blocks' %}

    </div>
  </article>

  {# -- PHOTOSWIPE -- #}
  {% include '_includes/photoswipe' %}

  {% endminify %}
  {% endcache %}
{% endblock %}
