{#
 # AMP template
 # -------------------
 #
 # See this entry for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% set section = craft.app.request.segments | first %}
{% set entry = craft.entries({
  section: section,
  slug: slug
})[0] %}
{% set amp = true %}

{% block main %}
  {% cache %}
  {% minify %}

  <article>

    {# -- HEADER -- #}
    <header>
      {% set image = entry.image.one() %}
      {% if image %}
      <div class="c-header__image">
        <figure>
          {{ elements.image(image, 'amp', '16x9') }}
        <figure>
      </div>
      {% endif %}

      <div class="l-ctnr l-flex l-flex--center">
        <div class="c-header l-w66">
          <h1 class="c-header__title">{{ entry.title | striptags() }}&nbsp;</h1>
          <span class="c-header__meta">{{ elements.date(entry.postDate) }}{% if entry.category is not empty %}&nbsp;·&nbsp;{{ elements.category(entry) }}{% endif %}</span>
        </div>
      </div>
    </header>

    {# -- CONTENT -- #}
    <div class="blocks blocks--serif">

      {# Post description #}
      <div class="l-ctnr l-flex l-flex--center">
        <h2 class="blocks__title l-w66">{{ entry.description }}</h2>
      </div>

      {# Body matrix #}
      {% include '_includes/blocks' %}

    </div>

    {# -- SHARE -- #}
    {% include '_includes/components/share' %}

  </article>

  {# -- RELATED ENTRIES -- #}
  {% set relatedPosts = craft.entries({
    section: entry.section.handle,
    relatedTo: ['or ', entry.tags, entry.category],
    id: 'not ' ~ entry.id,
    limit: '3',
  }) %}

  {% if relatedPosts | length == '3' %}
    <div class="l-ctnr l-flex">
      <div class="l-w100">
        <h4 class="c-cards__title">{{ "Related Posts" | t}}</h4>
      </div>

      {% for post in relatedPosts %}
        <article class="c-card l-w33">
          <a href="{{ post.url }}" title="{{ post.title }}">

            {# Featured image or first image from matrix blocks? #}
            {% if post.image[0] ?? null %}
              {% set image = post.image[0] ?? null %}
            {% else %}
              {% set imageBlock = post.body.type('images').one() %}
              {% if imageBlock %}
                {% set image = imageBlock.image.one() %}
              {% endif %}
            {% endif %}

            {% if image is defined and image %}
              <figure class="c-card__image">
                {{ elements.image(image, 'amp', '16x9') }}
              </figure>
            {% endif %}

            <h3 class="mt2 fs-t1">{{ post.title }}</h3>
          </a>
          <span class="ts-app fs-s1">{{ elements.date(post.postDate) }}{% if post.category is not empty %}&nbsp;·&nbsp;{{ elements.category(post) }}{% endif %}</span>
        </article>
      {% endfor %}

    </div>
  {% endif %}

  {% endminify %}
  {% endcache %}
{% endblock %}
