{#
 # Category template
 # -------------------
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% set section = craft.app.request.segments | first %}
{% set category = craft.app.request.segments | last %}

{% block main %}
  {% cache %}
  {% minify %}

  {# -- HEADER -- #}
  <header class="l-ctnr l-flex l-flex--center">
    <div class="c-header l-w75">
      <h1 class="c-header__title c-header__title--color">{{"Category" | t }}&ensp;</h1>
      <h2 class="c-header__subtitle">{{ category | capitalize }}{% if category.description is defined %}&nbsp;—&nbsp;{{ helpers.striptags(category.description) }}{% endif %}</h2>
    </div>
  </header>


  {# -- POSTS -- #}
  <div class="l-ctnr l-flex l-flex--center">

    {% set posts = craft.entries({
      section: section,
      relatedTo: craft.categories.slug(category),
      with: ['image']
    }) %}

    {% for post in posts %}
      <article class="c-card l-w75">
        <a href="{{ post.url }}" title="{{ post.title }}">

          {% if post.featured %}

            {# Featured image or first image from matrix blocks? #}
            {% if post.image[0] ?? null %}
              {% set image = post.image[0] ?? null %}
            {% else %}
              {% set imageBlock = post.body.type('images').one() %}
              {% if imageBlock %}
                {% set image = imageBlock.image.one() %}
              {% endif %}
            {% endif %}

            {% if image is defined and image %}

              <figure class="c-card__image">
                {{ elements.image(image, 'normal', '21x9', '42rem' ) }}
              </figure>

            {% endif %}
          {% endif %}

          <h2 class="c-card__title">{{ post.title }}</h2>
          <p class="c-card__body">{% if post.passphrase is empty %}{{ helpers.striptags(post.description, '<br><strong><em>') }}{% else %}This post is password-protected. Click to view the post.{% endif %}</p>
        </a>
        <span class="c-card__meta">{{ elements.date(post.postDate) }}{% if post.category is not empty %}&nbsp;·&nbsp;{{ elements.category(post) }}{% endif %}</span>
      </article>

    {% endfor %}

  </div>

  {% endminify %}
  {% endcache %}
{% endblock %}
