{#
 # The base layout template
 # ------------------------
-#}

{% extends "_layouts/site" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block body %}

  {# -- METABAR -- #}
  {% include '_includes/components/metabar' %}

  <div id="barba-wrapper">
    <main class="l-main barba-container">

      {% if not entry.passphrase is defined or entry.passphrase is empty or entry.passphrase == craft.app.request.getQueryParam('passphrase') or livePreview %}

        {% block main %}{% endblock %}

      {% else %}

        {% include '_includes/components/passphrase' %}

      {% endif %}

    </main>
  </div>

  {# -- FOOTER -- #}
  {% include '_includes/components/footer' %}

{% endblock %}
