{#
 # Homepage template
 # ---------------
 #
 # See this page for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}


{% block critical %}
  <style>
    {{ source(_self ~ '.min.css', ignore_missing = true) }}
  </style>
{% endblock %}


{% block main %}
  {% cache %}
  {% minify %}

  <article>

    {# -- HEADER -- #}
    <header class="l-ctnr">
      <div class="c-header c-header--tall l-w100">
        <h1 class="c-header__title c-header__title--color">{{ helpers.striptags(entry.title) }}&ensp;</h1>
        <h2 class="c-header__subtitle">{{ helpers.striptags(entry.description) }}</h2>
      </div>
    </header>

  </article>

  {# -- LATEST POSTS -- #}
  {% set posts = craft.entries({
    section: 'blog',
    limit: '3',
    with: ['image']
  }) %}

  {% if posts %}
    <section class="l-ctnr l-flex">
      <div class="l-w100">
        <h3 class="c-cards__title"><a class="t-link" href="/blog">Latest Posts</a></h3>
      </div>
        {% for post in posts %}
          <article class="c-card l-w33">
            <a class="o-card__link" href="{{ post.url }}" title="{{ post.title }}">

              {# Featured image or first image from matrix blocks? #}
              {% if post.image[0] ?? null %}
                {% set image = post.image[0] ?? null %}
              {% else %}
                {% set imageBlock = post.body.type('images').one() %}
                {% if imageBlock %}
                  {% set image = imageBlock.image.one() %}
                {% endif %}
              {% endif %}

              {% if image is defined and image %}
                <figure class="c-card__image">
                  {{ elements.image(image, 'normal', '21x9', '42rem' ) }}
                </figure>
              {% endif %}

              <h3 class="c-card__title">{{ post.title }}</h3>
            </a>
            <span class="c-card__meta">{{ elements.date(post.postDate) }}{% if post.category is not empty %}&nbsp;·&nbsp;{{ elements.category(post) }}{% endif %}</span>
          </article>
        {% endfor %}
    </section>
  {% endif %}

  {% endminify %}
  {% endcache %}
{% endblock %}
