{#
 # Homepage template
 # ---------------
 #
 # See this page for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block critical %}
  <style>
    {{ source(_self ~ '.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{% block main %}
  {% minify %}

  <article>

    {# -- HEADER -- #}
    <header class="l-ctnr">
      <div class="c-header c-header--tall l-w100">
        <h1 class="c-header__title c-header__title--color">{{ entry.title | striptags() }}&nbsp;</h1>
        <h2 class="c-header__subtitle">{{ entry.description | striptags() }}</h2>
      </div>
    </header>

  </article>

  {# -- FEATURED ITEMS -- #}
  {% set featured = craft.entries({
    section: 'work',
    featured: '1',
    passphrase: ':empty:',
    with: ['image'],
    limit: '3'
  }) %}

  {% if featured %}
    <section class="l-ctnr l-flex">
      <div class="l-w100">
        <h3 class="c-cards__title"><a class="t-link" href="/work">Latest Work</a></h3>
      </div>

      {% for item in featured %}
        <article class="c-card l-w100">
          <a class="o-image--hover" href="{{ item.url }}" title="{{ item.title }} for {{ item.client.one().title }}">

            {% set image = item.image[0] ?? null %}
            {% if image %}
              <figure class="c-card__image">
                {{ elements.image(image, 'normal', '16x9', '64rem') }}
              </figure>
            {% endif %}
            <h3 class="c-card__title">{{ item.title }}</h3>
            <p class="c-card__meta">{{ item.client.one().title }}</p>
          </a>
        </article>
      {% endfor %}
    </section>
  {% endif %}

  {% endminify %}
{% endblock %}
