// Form
// ----
.c-form {
  position: relative;

  border: 1px solid var(--oc-gray-4);
  border-radius: 4px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, .06);

  &.c-form--error {
    border-color: $oc-red-6;
  }
}

.c-form__group {
  display: inline-block;
  position: relative;

  padding: vr(.5) vr(1);
}


// Inputs
// ------
.c-form__input {
  @include typi("t1");

  display: block;

  width: 100%;

  padding: 0;

  transition: border-color $an-short;

  border: 0;
  outline: none;

  background-color: var(--oc-white);
  color: var(--oc-gray-9);

  font-family: $ff-sans;

  resize: none;

  // Active state

  &:focus {
    border-color: oc(primary);
    outline: none;

    ~ .c-form-icon {
      fill: oc(primary);
    }

    ~ .c-form-label {
      color: oc(primary);
    }
  }
}

.c-form__textarea {
  @include typi("s0");

  display: block;

  width: 100%;

  padding: 0;

  transition: border-color $an-short;

  border: 0;
  outline: none;

  background-color: var(--oc-white);
  color: var(--oc-gray-9);

  font-family: $ff-sans;

  resize: none;
}

.c-form__select {
  display: block;

  width: 100%;
  height: 2.25rem;

  margin: 2rem 0 .25rem;
  padding: .25rem 1rem;

  transition: border-color $an-short, background-color $an-short;

  border: 2px solid var(--oc-gray-6);
  border-radius: .5rem;
  outline: none;

  background-color: var(--oc-gray-0);
  color: var(--oc-gray-6);

  &:focus,
  &:active {
    border-color: oc(primary);

    background-color: oc(primary, 0);
  }

  &:valid {
    color: var(--oc-gray-9);
  }
}

.c-form__highlight {
  position: absolute;
  bottom: vr(.5);
  left: vr(1);

  width: 50%;
  height: vr(1.5);

  opacity: .25;

  pointer-events: none;
}

.c-form__input:focus ~ .c-form__highlight {
  animation: inputHighlighter $an-long;
}

@keyframes inputHighlighter {
  from {
    background: oc(primary, 2);
  }

  to {
    width: 0;

    background: transparent;
  }
}


// Labels
// ------
.c-form__label,
.c-form__error {
  @include typi("s1");

  display: block;

  color: var(--oc-gray-6);
}

.c-form__error {
  display: none;

  color: $oc-red-6;

  .c-form--error & {
    display: block;
  }
}


// Buttons
// -------
.c-form__button {
  position: absolute;
  top: -1px;
  right: -1px;

  min-width: 20%;
  height: calc(100% + 2px);
}
