// Form
// ----
.c-form {
  position: relative;

  margin-top: vr(.25);
  margin-bottom: vr(.25);
}


// Input
// ----
.c-input {
  display: inline-block;
  position: relative;

  width: 100%;

  padding: 0;

  border: 1px solid var(--oc-gray-4);
  border-radius: 6px;

  background-color: var(--oc-white);

  box-shadow: 0 2px 4px rgba(0, 0, 0, .06);
  overflow: hidden;

  &.c-input--error {
    border-color: $oc-red-6;
  }
}


// Text
// ----
.c-input__text {
  @include typi("t1");

  display: block;

  width: 100%;

  padding: vr(.5) vr(1);

  transition: border-color $an-short;

  border: 0;
  outline: none;

  background-color: var(--oc-white);
  color: var(--oc-gray-9);

  font-family: $ff-sans;

  resize: none;

  // Active state

  &:focus {
    border-color: var(--oc-primary-6);
    outline: none;

    ~ .c-form-icon {
      fill: var(--oc-primary-6);
    }

    ~ .c-form-label {
      color: var(--oc-primary-6);
    }

    ~ .c-input__highlight {
      animation: inputHighlighter $an-long;
    }
  }
}


// Textarea
// --------
.c-input__textarea {
  @include typi("s0");

  display: block;

  width: 100%;

  padding: 0;

  transition: border-color $an-short;

  border: 0;
  outline: none;

  background-color: var(--oc-white);
  color: var(--oc-gray-9);

  font-family: $ff-sans;

  resize: none;
}


// Select
// ------
.c-input__select {
  display: block;

  width: 100%;
  height: 2.25rem;

  margin: 2rem 0 .25rem;
  padding: .25rem 1rem;

  transition: border-color $an-short, background-color $an-short;

  border: 1px solid var(--oc-gray-6);
  border-radius: .5rem;
  outline: none;

  background-color: var(--oc-gray-0);
  color: var(--oc-gray-6);

  &:focus,
  &:active {
    border-color: var(--oc-primary-6);

    background-color: var(--oc-primary-0);
  }

  &:valid {
    color: var(--oc-gray-9);
  }
}


// Highlight
// ---------
.c-input__highlight {
  position: absolute;
  bottom: vr(.5);
  left: vr(1);

  width: 50%;
  height: vr(1.25);

  opacity: .25;

  pointer-events: none;
}

@keyframes inputHighlighter {
  from {
    background: var(--oc-primary-2);
  }

  to {
    width: 0;

    background: transparent;
  }
}


// Labels
// ------
.c-input__label,
.c-input__error {
  @include typi("s1");

  display: block;

  color: var(--oc-gray-6);
}

.c-input__error {
  display: none;

  color: $oc-red-6;

  .c-input--error & {
    display: block;
  }
}


// Buttons
// -------
.c-input__button {
  position: absolute;
  top: 0;
  right: 0;

  min-width: 20%;
  height: 100%;
}
