{#
 # Homepage template
 # ---------------
 #
 # See this page for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block critical %}
  <style>
    {{ source(_self ~ '.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{% block main %}
  {% minify %}

  <article>

    {# -- HEADER -- #}
    <header class="ctnr-l">
      <div class="header w100 mv5">
        <h1 class="header__title header__title--color">{{ entry.title | striptags() }}&nbsp;</h1>
        <h2 class="header__subtitle">{{ entry.description | striptags() }}</h2>
      </div>
      {% if entry.image.one() %}
        <div class="header__image w100 mv5">
          {{ elements.image(entry.image.one(), '16x9') }}
        </div>
      {% endif %}
    </header>

  </article>

  {# -- FEATURED ITEMS -- #}
  {% set featured = craft.entries({
    section: 'work',
    featured: '1',
    passphrase: ':empty:',
    with: ['image'],
    limit: '3'
  }) %}

  {% if featured %}
    <section class="ctnr-l mv5">
      <div class="w100 mt3">
        <h3 class="ts-app fs-s1"><a href="/work">Latest Work</a></h3>
      </div>

      {% for item in featured %}
        <article class="w100 mv2">
          <a class="hover" href="{{ item.url }}" title="{{ item.title }} for {{ item.client.one().title }}">
            {% set image = item.image[0] ?? null %}
            {% if image %}
              {{ elements.image(image, 'normal', '16x9', '64rem') }}
            {% endif %}
          </a>
          <h3 class="mt1 fs-t1 fw-bold"><a class="ts-link" href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></h3>
          <p class="fs-s1">{{ item.client.one().title }}</p>
        </article>
      {% endfor %}
    </section>
  {% endif %}

  {% endminify %}
{% endblock %}
