{#
 # Entry template
 # -------------------
 #
 # See this page for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}


{% block critical %}
  <style>
    {{ source(_self ~ '.min.css', ignore_missing = true) }}
  </style>
{% endblock %}


{% block main %}
  {% cache %}
  {% minify %}

  <article>

    {# -- HEADER -- #}
    <header>
      <div class="l-ctnr">
        <div class="c-header c-header--tall l-w100">
          <h1 class="c-header__title c-header__title--color">{{ entry.title | striptags() }}&nbsp;</h1>
          <h2 class="c-header__subtitle">{{ entry.description | striptags() }}</h2>
        </div>
      </div>

      {% set image = entry.image.one() %}

      {% if image %}
        <div class="js-photoswipe">
          <figure>
            <a href="{{ image.getUrl('large21x9') }}" data-size="{{ image.getWidth('large21x9') }}x{{ image.getHeight('large21x9') }}">
              {{ elements.image(image, 'normal', '21x9', '100vw') }}
            </a>
          <figure>
        </div>
      {% endif %}

      <div class="c-project l-ctnr l-flex">
        <div class="l-w66">
          <h3 class="c-project__header">{{ "Overview" | translate }}</h3>
          <h2 class="c-project__description">{{ entry.introduction | striptags() }}</h2>
        </div>
        <div class="l-w33">
          <h3 class="c-project__header">{{ "Involvement" | translate }}</h3>
          <ul class="c-project__tags">

            {% for tag in entry.skills %}
              <li>{{ tag.title | capitalize }}</li>
            {% endfor %}

          </ul>
          <h3 class="c-project__header">{{ "Client" | translate }}</h3>
          <p class="c-project__tags">{% if entry.client.one().website %}<a class="t-link" href="{{ entry.client.one().website }}" target="_blank" rel="noreferrer">{{ entry.client.one().title }}</a>{% else %}{{ entry.client.one().title }}{% endif %}</p>
        </div>
      </div>

    </header>

    {# -- CONTENT -- #}
    <div class="c-blocks">

      {# Body matrix #}
      {% include '_includes/blocks' %}

    </div>

    {# -- SHARE -- #}
    {% include '_includes/components/share' %}

  </article>

  {# -- RELATED ENTRIES -- #}
  {% set relatedItems = craft.entries({
    section: entry.section.handle,
    relatedTo: ['or ', entry.tags, entry.category],
    id: 'not ' ~ entry.id,
    with: 'image',
    limit: '3',
  }) %}

  {% if relatedItems | length == '3' %}
    <div class="l-ctnr mv4 cf">
      <div class="w100 mt3 mb1">
        <h3 class="ts-app fs-s1 fs-t1"><a href="/creating">Similar Projects</a></h3>
      </div>
      {% for item in relatedItems %}
        <article class="w1-3 fl-left mv2">
          <a class="r1-1" href="{{ item.url }}" title="{{ item.title }} for {{ item.client.one().title }}">
            {% set image = item.image[0] ?? null %}
            {% if image %}
              {{ elements.image(image, null, '1x1', '36rem') }}
            {% endif %}
          </a>
          <h3 class="mt2 mb1 fs-t1"><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></h3>
          <p class="ts-app fs-s1">{{ item.client.one().title }}</p>
        </article>
      {% endfor %}
    </div>
  {% endif %}

  {# -- PHOTOSWIPE -- #}
  {% include '_includes/photoswipe' %}

  {% endminify %}
  {% endcache %}
{% endblock %}
