{#
 # Structure overview template
 # ---------------
 #
 # See this page for details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/base" %}

{% import '_includes/elements' as elements %}
{% import '_includes/helpers' as helpers %}

{% block critical %}
  <style>
    {{ source(_self ~ '.min.css', ignore_missing = true) }}
  </style>
{% endblock %}

{% set section = craft.app.request.segments | first %}

{% block main %}
  {% cache %}
  {% minify %}

  <section class="l-ctnr">
    <div class="l-w100 l-columns">

      {# -- HEADER -- #}
      <header class="c-header">
        <h1 class="c-header__title c-header__title--color">{{ helpers.striptags(entry.title) }}&ensp;</h1>
        <h2 class="c-header__subtitle">{{ helpers.striptags(entry.description) }}</h2>
      </header>

      {# -- ITEMS -- #}
      {% set items = craft.entries({
        section: section,
        passphrase: ':empty:',
        with: ['image']
      }) %}

      {% for item in items %}

        <article class="c-card">
          <a href="{{ item.url }}" title="{{ item.title }}">

            {% set image = item.image[0] ?? null %}

            {% if image %}

              <figure class="c-card__image">
                {{ elements.image(image, null, '1x1', '35rem') }}
              </figure>

            {% endif %}

            <h3 class="c-card__title">{{ item.title }}</h3>
            <p class="c-card__meta">{% for tag in item.skills %}{{ tag.title }}{% if not loop.last %} + {% endif %}{% endfor %}</p>
          </a>
        </article>

      {% endfor %}

    </div>
  </section>

  {% endminify %}
  {% endcache %}
{% endblock %}
